{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="{% block meta_description %}Welcome To The website Of Dr. Omar Faruk DMD Dentist To The Stars!{% endblock %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{% block title %}RentBuddy{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/icon.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title=" Buddy Mall Tower A #18-08, Singapore "><i class="fa fa-map-marker"></i> <span>Buddy Mall Tower A #18-08, Singapore</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="rentbuddy@gmail.com"><i class="fa fa-envelope"></i> <span>rentbuddy@gmail.com</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'mainpage' %}"><img src="{% static 'website/img/core-img/rentbuddy_logo.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'settings' %}">Buddy Profile</a></li>
                  <li><a href="{% url 'update' %}">Update User</a></li>
                  <li><a href="{% url 'ratings' %}">Rate</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>
            <!-- Log out Button -->
            <form method = "POST" action = "home.html"> {%csrf_token%} <button type="submit" class="btn dento-btn booking-btn"> Logout</button> </form> 
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


{% block content %}

{% endblock %}

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>