{% extends 'base.html' %}
{% load static %}
{% block title %}
    Sign Up Now!
{% endblock %}

{% block content %}
<!-- Book An Appointment Area Start -->
  <section class="book-an-appointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/12_1.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Log In</h2>
            <div class="line"></div>
            <font style="text-align:center" color = 'green'><br></font>
            <font style="text-align:center" color = 'orange'> {{ signupconfirm }} <br></font>
            <font style="text-align:center" color = 'orange'> {{ error }} <br></font>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Log In Form -->
          <div class="appointment-form">
            <form action="{% url 'mainpage' %}" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Enter Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="password" name="your-password" class="form-control" placeholder="Enter Password" required>
                  </div>
                </div>
                
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">LOG IN</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Appointment Area End -->
{% endblock %}